{% extends "base.html" %}

{% block title %}
    SPG
{% endblock %}

{% block body %}
    <header>
        <h1>Spotify Playlist Generator</h1>
        <p>Generate playlists from billboard top 100 or something</p>
    </header>

    <main>
        <div>
            <form>
                <h2>Chart Type</h2>
                <select id="chart" name="chart" required>
                    <option disabled selected value="">Select Chart</option>
                    {% for title, file in chart_dict.items() %}
                        {% if title == "Hot 100" %}
                        <option value="{{ title }}">{{ title }} (Recommended)</option>
                        {% else %}
                        <option value="{{ title }}">{{ title }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </form>
        </div>

        <div>
            <form class="date" id="startDate" hidden>
                <h2>Start Date</h2>
                <input type="date" name="startDate" required>
            </form>
        </div>

        <div>
            <form class="date" id="endDate" hidden>
                <h2>End Date</h2>
                <input type="date" name="endDate" required>
            </form>
        </div>

        <div>
            <form>
                <h2>Name of Playlist</h2>
                <input type="text" id="playlistName" name="playlistName" placeholder="Best of 2025 Playlist">
            </form>
        </div>

        <div>
            <form>
                <h2>Amount of Songs</h2>
                <input type="number" min="1" max="100" id="songAmount" name="songAmount" step="1" required>
            </form>
        </div>

        <br>

        <div>
            <form>
                <button type="submit">Generate Playlist</button>
            </form>
        </div>
    </main>

    <footer>
        <p>Copyright Patdabaker</p>
    </footer>

    <script>
        document.addEventListener("DOMContentLoaded", (event) => {
            const startDate = document.getElementById('startDate');
            const endDate = document.getElementById('endDate');
            const select = document.getElementById('chart');
            select.addEventListener("change", () => {
                if (select.value !== "") {
                    startDate.hidden = false;
                    endDate.hidden = false;
                } 
            });
        });
    </script>
{% endblock %}